.banner-title {
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 1.2;
    color: #212529;
}

.animate-spin-slow {
    animation: spin 4s linear infinite;
}

.subheading {
    font-size: 10px;
}